<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>曲线动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25141DB51CF68A0C00E586EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25141DCE1CF68A0D00E586EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25141DD91CF68A0D00E586EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
